/* Reset default margin, padding, and box-sizing */
html,
body {
  width: 100%; /* Set width to full viewport width */
  height: 100%; /* Set height to full viewport height */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  font-family: Helvetica; /* Set default font family */
}

h1, h2, h3, h4, h5 {
  color: #ffffff;
}
/* Style for the container of the family tree */
#tree {
  width: 100%; /* Set width to full container width */
  height: 90%; /* Set height to 80% of container height */
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange children in a row */
  justify-content: flex-start; /* Align children to the start of the container */
  align-items: flex-start; /* Align children to the start of the cross axis */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}


.male>rect{
  fill: #2196F3 !important;
}
.bft-edit-form.male .bft-edit-form-header,
.bft-edit-form.male .bft-img-button{
  color: #ffffff;
    background-color: #2196F3 !important;
}

.female>rect{
  fill: #FFC0CB !important;
}
.bft-edit-form.female .bft-edit-form-header,
.bft-edit-form.female .bft-img-button{
  color: #ffffff;
    background-color: #FFC0CB !important;
}

/* Style for the orientation dropdown container */
#orientation-dropdown-container {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Align items at the center horizontally */
  margin-top: 20px; /* Add top margin */
}

/* Style for the label in the orientation dropdown container */
#orientation-dropdown-container label {
  font-weight: bold; /* Set font weight to bold */
}

/* Style for the loading spinner */
.spinner {
  position: fixed; /* Position the spinner */
  top: 50%; /* Position it at the vertical center of the viewport */
  left: 50%; /* Position it at the horizontal center of the viewport */
  transform: translate(-50%, -50%); /* Center the spinner */
  width: 50px; /* Set width */
  height: 50px; /* Set height */
  border-radius: 50%; /* Make it a circle */
  border: 5px solid #f3f3f3; /* Set border color */
  border-top-color: #3498db; /* Set top border color */
  animation: spin 1s infinite linear; /* Apply spinning animation */
}

/* Keyframes for spinning animation */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); /* Initial rotation */
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Full rotation */
  }
}


/* Apply blur filter to certain elements */
.filter rect,
.filter image,
.filter text,
.filter use {
  filter: blur(6px); /* Apply blur filter */
}


